section {
  width: 750px;
  margin: 0 auto;
  display: flex;

}
.col-left {
  position: relative;
}
.col-right {
  margin-top: -74px;
}
.message-promo {
  display: flex;
  align-items: center;
  padding: 0px;
  height: 190px;
}
.link {
  margin-top: 50px;
}
