/* Desktops and laptops ----------- */
@media only screen  and (max-width : 750px) {
  section {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  header img {
    padding: 30px 0px 120px 0px;
  }
  .col-left img {
    width: 100%;
  }
  .col-right {
    width: 100%;

    margin-top: -5px;
  }
  .message-promo, .desc-promo {
    height: 190px;
    width: 100%;
  }
  .desc-promo__info {
    width: 100%;
    height: 100%;
  }
  .side {

    top: 85px;
  }
  .link {
    margin-top: 75px;
  }
  .link--display-lg {
    display: none;
  }
  .link--display-xs {
    display: initial;
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0px;
  }
  .col-left__h1 {

    top: -87px;
  }
  h1.xs {

    padding: 0px;

}
  h2.xs {
    width: 50% ;
    height: 190px ;
  }
  .message-promo__h3 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h3.xs {
    padding: 0px  ;
    width: 145px;
  }
  footer {
    margin-top: 40px;
  }
}
