section {
  width: 750px;
  margin: 0 auto;
  display: flex;

}
.col-right {
  margin-top: -95px;
}
.col-left {
  position: relative;
}
.col-left__h1 {
  position: absolute;
  top: -90px;
  left: 50%;
  margin-left: -90px;
  background-color: #F5AF26;
  width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-promo {
  display: flex;
  align-items: center;
  padding: 0px;
  height: 190px;
}
.link {
  margin-top: 190px;
}
.link--display-xs {
    display: none;
  }
.desc-promo {
  display: flex;
  height: 190px;

}
.desc-promo__info__txt {

}
.desc-promo__info {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  width: 150px;
  padding: 0px 20px;
  position: relative;
      height: 190px;
    display: flex;
    align-items: center;
}
.bottom {
  border: none;
  position: absolute;
  left: 31px;
  width: 140px;
  bottom: -10px;
}
.top {
  border: none;
  position: absolute;
  left: 31px;
  width: 140px;
  top: -17px;
}
.side {
  border: none;
  position: absolute;

  width: 140px;
      right: -75px;
    top: 80px;
  transform: rotate(90deg);
}

hr {
height:14px; /* specify a height for this hr */
overflow:hidden;
border: none;
}
hr:after {
content:".......................................................................";
letter-spacing: 4px; /* Use letter-spacing to increase space between dots*/
}
