/* Desktops and laptops ----------- */
@media only screen  and (max-width : 700px) {
  section {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .col-left img,  .col-right .col-right__img img {
    width: 100%;
  }
  .col-left > h1 > img {
    width: auto;
  }
  .col-right__img {
    height: 562px;
  }
  .col-right {
    width: 100%;
    margin: auto;
  }
  .link {
    height: 75px;
  }
  .message-promo {
    justify-content: center;
    height: auto;
  }
  h1.xs {
    height: 92px;
    margin-left: -90px ;
  }
  h2.xs, h3.xs {
    margin: 0px ;
    padding: 0px ;
  }
  h2.xs {
    width: 50% ;
    height: 190px;
  }
  h3.xs {
    width: 50%  ;
  }
  footer {
    margin-top: -5px;
  }
  .pattern {
    width: 100%;
  }
}
